{{- $codespaces:= env "CODESPACES" | not | not -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}
{{- $fname := promptString "fname" "John" -}}
{{ $lname := promptString "lname" "Doe" }}
{{ $extra_pkgs := promptBool "extra_pkgs" true }}
{{- $prompt_completion := promptString "prompt_completion" "" -}}
{{- $extra_zsh_plugins := promptBool "extra_zsh_plugins" false -}}

[data]
    fname = {{ $fname | quote }}
    lname = {{ $lname | quote }}
    name = {{ list $fname $lname | join " " | quote }}
    codespaces = {{ $codespaces }}
    prompt_completion = {{ $prompt_completion | quote }}
    extra_zsh_plugins = {{ $extra_zsh_plugins }}
{{- if $codespaces }}{{/* Codespaces dotfiles setup is non-interactive */}}
    email = ""
    gpgsign = true
    gpgsign2 = false
{{- else }}{{/* Interactive setup */}}
    {{- $email := promptString "email" -}}
    {{- $gpgsign := promptBool "gpgsign" false}}
    {{- $gpgsign2 := false}}
{{- if $gpgsign }}
    {{- $gpgsign2 := promptBool "gpgsign2" false}}
{{- end }}
    email = {{ $email | quote }}
    gpgsign = {{ $gpgsign }}
    gpgsign2 = {{ $gpgsign2 }}
{{- if $gpgsign }}
    {{- $signkey_id := promptString "signkey_id" }}
    signkey_id = {{ $signkey_id | quote }}
{{- end }}
{{- if $gpgsign2 }}
    {{- $signkey_id2 := promptString "signkey_id2" "" }}
    {{- $email2 := promptString "email2" "" }}
    signkey_id2 = {{ $signkey_id2 | quote }}
    email2 = {{ $email2 | quote -}}
{{- end }}
    {{- $github_login := promptString "github_login" "Empty" }}
    {{- $github_token := promptString "github_token" "Empty" }}
    github_login = {{ $github_login  | quote }}
    github_token = {{ $github_token  | quote }}
{{- end }}
