{{- $codespaces:= env "CODESPACES" | not | not -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}
{{- $fname := promptString "First name" "John" -}}
{{ $lname := promptString "Last name" "Doe" }}
{{ $full := promptBool "Extra system packages" true }}
{{- $prompt_completion := promptString "Empty for default OR AUTOCOMPLETE for zsh-autocomplete plugin" "" -}}
{{- $extra_zsh_plugins := promptBool "Enable additional zsh plugins" false -}}

[data]
    fname = {{ $fname | quote }}
    lname = {{ $lname | quote }}
    name = {{ list $fname $lname | join " " | quote }}
    codespaces = {{ $codespaces }}
    prompt_completion = {{ $prompt_completion | quote }}
    extra_zsh_plugins = {{ $extra_zsh_plugins }}
{{- if $codespaces }}{{/* Codespaces dotfiles setup is non-interactive */}}
    email = ""
    gpgsign = true
    gpgsign2 = false
{{- else }}{{/* Interactive setup */}}
    {{- $email := promptString "Email" -}}
    {{- $gpgsign := promptBool "GPG Support" false}}
    {{- $gpgsign2 := promptBool "GPG Second key" false}}
    email = {{ $email | quote }}
    gpgsign = {{ $gpgsign }}
    gpgsign2 = {{ $gpgsign2 }}
{{- if $gpgsign }}
    {{- $signkey_id := promptString "GPG Key ID" }}
    signkey_id = {{ $signkey_id | quote }}
{{- end }}
{{- if $gpgsign2 }}
    {{- $signkey_id2 := promptString "GPG Second Key ID" "" }}
    {{- $email2 := promptString "GPG Second Key Email" "" }}
    signkey_id2 = {{ $signkey_id2 | quote }}
    email2 = {{ $email2 | quote -}}
{{- end }}
    {{- $github_login := promptString "Github Username" "Not defined" }}
    {{- $github_token := promptString "Github API Token" "Not defined" }}
    github_login = {{ $github_login  | quote }}
    github_token = {{ $github_token  | quote }}
{{- end }}
