####################################################################################################################################
##########################    {{ .fname }}'s SHELL
##########################    Made by https://dotfiles.download
####################################################################################################################################
zmodload zsh/zprof
##############################################
##  Functions
##############################################
# source "$HOME/.zshrc.d/functions.zsh"
##############################################
##  Options
##############################################
source "$HOME/.zshrc.d/options.zsh"
##############################################
##  History
##############################################
# source "$HOME/.zshrc.d/history.zsh"
##############################################
##  Colors & Highlight
###############################################
# source "$HOME/.zshrc.d/colors.zsh"
##############################################
##  Terminal utils
###############################################
# source "$HOME/.zshrc.d/term.zsh"
##############################################
##  Plugins
##############################################
source "$HOME/.zshrc.d/plugins.zsh"
##############################################
##  Aliases
##############################################
# source "$HOME/.zshrc.d/alias.zsh"
##############################################
##  Completions
###############################################
# zsh-defer source "$HOME/.zshrc.d/completions.zsh"
##############################################
##  Directories
###############################################
# source "$HOME/.zshrc.d/dirs.zsh"
##############################################
##  Key bindings
###############################################
# source "$HOME/.zshrc.d/keybindings.zsh"
##############################################
##  Prompt & MOTD
###############################################
# zsh-defer eval "$(atuin init zsh)"
source "$HOME/.zshrc.d/prompt.zsh"
##############################################
##  Line editor
###############################################
# source "$HOME/.zshrc.d/line_editor.zsh"
# zprof
# time  zsh -i -c exit
