####################################################################################################################################
##########################    {{ .fname }}'s SHELL
##########################    Made by https://dotfiles.download
####################################################################################################################################
export ZSH="$HOME/.oh-my-zsh"
##############################################
##  Functions
##############################################
source "$HOME/.zshrc.d/functions.zsh"
##############################################
##  Options
##############################################
source "$HOME/.zshrc.d/options.zsh"
##############################################
##  History
##############################################
source "$HOME/.zshrc.d/history.zsh"
##############################################
##  Colors & Highlight
###############################################
source "$HOME/.zshrc.d/colors.zsh"
##############################################
##  Plugins
##############################################
source "$HOME/.zshrc.d/plugins.zsh"
##############################################
##  Aliases
##############################################
source "$HOME/.zshrc.d/alias.zsh"
##############################################
##  Completions
###############################################
source "$HOME/.zshrc.d/completions.zsh"
##############################################
##  Key bindings
###############################################
source "$HOME/.zshrc.d/keybindings.zsh"
##############################################
##  Prompt & MOTD
###############################################
source "$HOME/.zshrc.d/prompt.zsh"
